/NewsSoapRest/target/
/BusinessLogicNews/nbproject/private/
/BusinessLogicNews/build/
/BusinessLogicNews/dist/
/ServiceRest/target/
/NewsBusinessLogic/target/
/ServiceSOAP/target/
/UserManagerClient/target/
